<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="text-success">Hello Coding Dojo!</h1> 
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form action="/users" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input name="name" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
                </div>
                <button class="btn btn-small btn-primary">Submit</button>  
            </form>
        </div>
    </div>
</div>