<h2>L<span class="white-text">OGIN</span></h2>

<div class="row" style="padding-right:4rem;">
  <form class="col s12 mt-4" action="<%= main_login_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

      <div class="row">
          <div class="input-field col s12 col-sm-10">
              <input placeholder="" id="email" name="email" type="text" class="validate white-text" value="josh.reese@dojo.com">
              <label for="name" class="primary-text">Email</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12 col-sm-10">
              <input placeholder="" id="password" name="password" type="password" class="validate white-text" value="12345678">
              <label for="password">Password</label>
          </div>
      </div>
      <button class="btn waves-effect sn" type="submit" name="action">LOGIN
          <i class="material-icons right blue-text">send</i>
      </button>
  </form>

  <div class="col s12 col-sm-12">
    <p style="margin-bottom: -1rem; margin-top: 2rem">
      Don't have an account yet?
      <a href="/main/sw" style="margin: .5rem">Create one now!</a>
    </p>
  </div>
</div>
