<h2>R<span class="white-text">EGISTRATION</span></h2>

<div class="row">
  <form class="col s12 mt-2" action="<%= main_register_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

      <div class="row">
          <div class="input-field col s5 col-sm-6">
              <input placeholder="" id="first_name" name="user[first_name]" type="text" class="validate white-text" value="Martin">
              <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s5 col-sm-6">
              <input placeholder="" id="last_name" name="user[last_name]" type="text" class="validate white-text" value="Nguema S.">
              <label for="last_name">Last last_Name</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s10 col-sm-12">
              <input placeholder="" id="email" name="user[email]" type="text" class="validate white-text" value="mnguema@dojo.com">
              <label for="email" class="primary-text">Email</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s5 col-sm-6">
              <input placeholder="" id="password" name="user[password]" type="password" class="validate white-text" value="12345678">
              <label for="password">Password</label>
          </div>
          <div class="input-field col s5 col-sm-6">
              <input placeholder="" id="password_confirmation" name="user[password_confirmation]" type="password" class="validate white-text" value="12345678">
              <label for="name">Password Confirmation</label>
          </div>
        </div>

      <button class="btn waves-effect sn" type="submit" name="action">REGISTER
          <i class="material-icons right blue-text">send</i>
      </button>
  </form>

  <div class="col s12 col-sm-12">
    <p style="margin-bottom: -1rem; margin-top: 2rem">
      Already have an account?
      <a href="/main/sw" style="margin: .5rem">Login now!</a>
    </p>
  </div>
</div>
