<div class="container">
    <h1><%= @dojo.branch %></h1>

    <h4><u>Street</u>: <%= @dojo.street %></h4>
    <h4><u>City</u>: <%= @dojo.city %></h4>
    <h4><u>State</u>: <%= @dojo.state %></h4>
    <a href="/dojos">Back</a>
</div>
