<!-- EDIT USER PAGE COMPONENT -->
<div class="container">
    <h2 class="teal-text" style="margin: 2rem 0">EDIT USER</h2>
</div>

<div class="container">
    <div class="row">
        <form class="col s12 mt-4" action="/users/<%= @user.id %>/update" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="row">
                <div class="input-field col s10">
                    <input placeholder="Entere User Name" id="name" name="name" type="text" class="validate white-text"  value="<%=@user.name%>">
                    <label for="name">Full Name</label>
                </div>
            </div>
            <button class="btn btn-small btn-primary">Submit</button>
        </form>
    </div>
</div>
