
<div class="container">
    <div class="heading">
        <div class="col-xs-6">
            <h5>The Current Time and Date:</h5>
        </div>
    </div>
    <div class="row timer">
        <h3 class="date"><%= @date %></h3>
        <h3 class="time"><%= @time %></h3>
    </div>
</div>