<!DOCTYPE html>
<html>
<head>
    <title>Time Display</title>
</head>
<body>
    <p>The current time and date:</p>
    <div>
        <h1><%= @date %></h1>
        <h1><%= @time %></h1>
    </div>
</body>
</html>
