<div class="container">
  <h1>Create an account:</h1>
  <form class="col-4" action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
      <input type="text" name="user[name]" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" name="user[email]" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" name="user[password]" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <input type="password" name="user[password_confirmation]" class="form-control" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary mt-2">Join</button>
  </form>
  <p>Have an account? <a href="/sessions/new">Sign in</a> here!</p>
</div>
