<!DOCTYPE html>

<html>

<head>
  <title>TimeDisplay</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- Required JS Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>           <!-- Compiled and minified JavaScript -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>
