// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
    border: 4px solid;
}

form {
    margin-left: 136px;
}
