<div class="container">
  <div class="row">
    <h1>Secrets</h1>
    <a class="offset-2" href="/users/<%= current_user.id %>">Your Secrets</a>
  </div>
  <table class="table">
    <% @all_secrets.each do |secret| %>
    <tr>
      <td><%= secret.content %></td>
      <% if secret.user_id == current_user.id %>
      <td> <a href="/secrets/<%= secret.id %>" data-method="delete">Delete Secret</a> </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>