<div class='col-8 Absolute-Center is-Responsive'>
    <h1>New Student</h1>
    <form class="form-signin" action="/dojos/<%= @dojo_id %>/students" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="first_name" class="form-control" placeholder="First Name" >
        <input type="text" name="last_name" class="form-control" placeholder="Last Name" >
        <input type="text" name="email" class="form-control" placeholder="Email" >
        <div class="wrapper">
            <span class="group-btn  col-lg-6">     
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
            </span>
        </div>
    </form>
    <% if flash[:error] %>
    <div class="notice"><%= flash[:error] %></div>
  <% end %>
</div>
    