<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>New User</title>
  </head>
  <body>
    <div class="container">
      <h2>Create New User:</h2>
      <form action="/users" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control col-3">
        </div>
        <button type="submit" class="btn btn-primary">Create User</button>
      </form>
    </div>
  </body>
</html>
