<div class="container mt-5">
	<div class="col-sm-6" style="margin:18rem auto">

		<h1 style="margin-bottom:2rem;">Sign In</h1>

		<form action="/signin" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
			<div class="form-group">
				<label>Username:</label>
				<input type="text" class="form-control" name=user["username"] id="username">
				<small class="form-group text-danger">
					<% if flash[:errors] %><% flash[:errors].each do |err_msg| %>
						<%= err_msg %>
					<% end %><% end %>
				</small>
			</div>

			<div class="form-group">
				<input type="submit" value="Sign In" class="btn btn-lg btn-primary" style="width:12rem">
			</div>
		</form>
	</div>
</div>